.skills__title{
    color: var(--negro-subtitulos);
    font-family: 'Barlow', sans-serif;
    font-size: calc(3vw);
    font-style: italic;
    /*con estos 3 logro centrarlo sin text-align center en el container general*/
    margin: calc(5vw) auto;
    margin-top: calc(8vw);
    margin-bottom: calc(1vw);
    width: max-content;
    display: block;
}

@media screen and (min-width:0px) {
    .skills__title{
        font-size: calc(5vw);
    }
}

@media screen and (min-width:500px) {
    .skills__title{
        font-size: calc(3.2vw);
    }
}