.item__academico{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    font-size: calc(2vw);
}

@media screen and (min-width:800px) {
    .item__academico{
        margin: 8vw;
    }
    
}