.hobbies__title{
    color: var(--negro-subtitulos);
    font-family: 'Barlow', sans-serif;
    font-size: calc(5vw);
    font-style: italic;
    /*con estos 3 logro centrarlo sin text-align center en el container general*/
    margin: calc(5vw) auto;
    margin-top: calc(10vw);
    width: max-content;
    display: block;
}