.logo{
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    margin: 1rem;
    transition: 0.5s;
}

.logo:hover{
    cursor: pointer;
    scale: 1.1;
}

/*telefonos*/
@media screen and (min-width:0) {
    .logo{
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 1rem auto;
    }
}

/*todo lo demas*/
@media screen and (min-width:720px) {
    .logo{
        justify-content: space-between;
        margin: 1rem 2rem;
    }
}